@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	background-color: #ffffff
	margin: 0
	width: 100%
	height: 100%
	min-width: 720px
	min-height: 720px


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
	b, strong
	font-weight: bold


.header 
	width: 100%
	height: 172px
	background-color: #2f283e
	border-bottom-right-radius: 150px



.header .top
	width: 100%
	height: 100%
	display: flex
	

.header .top .left_side
	justify-content: center
	flex-direction: column
	display: flex


.header .top .left_side .text_info
	height: 65%
	width: 200px
	color: #ffecd9
	font-size: 17px
	font-family: Roboto
	margin: 10px 10px



.header .top .left_side .button1
	width: 200px
	height: 30px
	border-color: red
	margin: 10px 10px
	font-size: 17px
	font-family: Roboto
	color: #ffac85
	text-align: center
	border-radius: 10px
	border: 1px solid #ffac85
	cursor: pointer
	border-style: solid

      
  



.header .top .left_side .button1:hover
	transition: 0.1s
	background: #ffac85
	color: #2f283e
	border: 1px solid #2f283e


.right_side
	width: 100%
	height: 100%
	


.menu
	width: 100%
	height: 100%
	justify-content: center
	display: flex
	


.menu ul li 
	color: #ffecd9
	

.part
	width: 100%
	height: 100%
	font-size: 17px
	font-family: Roboto
	color: #ffac85
	cursor: pointer
	text-align: center
	padding-right: 20px
	padding-left: 20px
	padding-top: 80px
	border-top-left-radius: 150px


.part2
	width: 100%
	height: 100%
	font-size: 17px
	font-family: Roboto
	color: #ffac85
	cursor: pointer
	text-align: center
	padding-right: 20px
	padding-left: 20px
	padding-top: 80px

.part3
	width: 100%
	height: 100%
	font-size: 17px
	font-family: Roboto
	color: #ffac85
	cursor: pointer
	text-align: center
	padding-right: 20px
	padding-left: 20px
	padding-top: 80px
	border-bottom-right-radius: 150px


.part:hover
	transition: 0.1s
	background-color: #ffac85
	color: #2f283e

.part2:hover
	transition: 0.1s
	background-color: #ffac85
	color: #2f283e

.part3:hover
	transition: 0.1s
	background-color: #ffac85
	color: #2f283e

.main
	width: 100%
	height: 100%
	display: flex
	


.left_main
	justify-content: center
	


.image
	height: 300px
	width: 200px
	color: #ffecd9
	font-size: 20px
	font-family: Roboto
	margin: 10px 10px 0 10px
	border: 1px solid #2f283e
	border-radius: 10px
	
	background: repeating-linear-gradient(45deg, #2f283e, #2f283e 10px, #ffac85 10px, #ffac85 20px)


.button3
	width: 200px
	height: 30px
	border-color: red
	margin: 10px 10px
	font-size: 17px
	font-family: Roboto
	color: #2f283e
	text-align: center
	border-radius: 10px
	border: 1px solid #2f283e
	cursor: pointer

	



.button3:hover
	transition: 0.1s
	background-color: #2f283e
	border: 1px solid #ffecd9
	color: #ffecd9
		


.button3 :hover
	transition: 0.1s
	color: #ffecd9


.right_main
	width: 100%
	height: 100%
	display: flex
   display: inline-block	

.text
	width: 100%
	height: 100%
	justify-content: center
	margin-top: 10px
	
.gradient-box 
  
  display: flex
  align-items: center
  width: 100%
  position: relative
  height: 300px
  box-sizing: border-box
  margin: 10px 10px 0 0
  padding: 10px

  $border: 1px
  color: #2f283e
  background: #ffffff
  background-clip: padding-box
  border: solid $border transparent
  border-radius: 10px

  &:before 
    content: ''
    position: absolute
    top: 0; right: 0; bottom: 0; left: 0
    z-index: -1
    margin: -$border
    border-radius: inherit
    background: linear-gradient(to right, #2f283e, #ffecd9)


.all
	width: 100%
	margin-bottom: 20px 
	
   
.secpage
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: space-around

.cards1
	width: 100%
	height: 9%

.cards
	width: 100%
	height: 100%
	display: flex
	justify-content: space-around


.cards3
	width: 100%
	height: 30%
	max-height: 9%

.card
	width: 250px
	height: 100%
	border-radius: 10px
	
	display: flex	
	flex-direction: column
	justify-content: space-around
	min-height: 400px


.card:hover
	box-shadow: 3px 3px 60px 2px #5a5a5a
	

.pic
	width: 100%
	height: 60%
	display: flex
	justify-content: space-around

.image2
	height: 80%
	width: 90%
	color: #ffecd9
	margin-top: 12px
	border: 1px solid #2f283e
	border-radius: 10px
	background: repeating-linear-gradient(45deg, #2f283e, #2f283e 10px, #ffac85 10px, #ffac85 20px)

.text2
	width: 100%
	height: 30%
	display: flex
	flex-direction: column
	justify-content: space-around

.cardtext
	text-align: center
	font-family: Roboto
	margin: 0

.butt
	width: 100%
	height: 10%
	display: flex
	justify-content: center

.button4
	width: 230px
	height: 30px
	border-color: red
	font-size: 17px
	font-family: Roboto
	color: #2f283e
	text-align: center
	border-radius: 10px
	border: 1px solid #2f283e
	cursor: pointer

.button4:hover
	transition: 0.1s
	background-color: #2f283e
	border: 1px solid #ffecd9
	color: #ffecd9

.thirdpage
	width: 100%
	height: 100vh


.thirdpageheader
	width: 100%
	height: 180px
	background-color: #2f283e
	
.thirdtop
	width: 100%
	height: 100%
	display: flex
	

.thirdleft_side
	width: 100%
	justify-content: center
	flex-direction: column
	display: flex



.thirdright_side
		width: 100%
		height: 100%
		
.text_info
	font-family: Roboto
	color: white

.textandphoto
	width: 100%
	height: 50%
	display: flex


.forbtn1
	width: 100%
	display: flex
	justify-content: center
  
.button1
	width: 200px
	height: 30px
	margin: 30px 20px
	font-size: 17px
	font-family: Roboto
	color: #ffac85
	text-align: center
	border-radius: 10px
	border: 1px solid #ffac85
	cursor: pointer




.button1:hover
	transition: 0.1s
	background: #ffac85
	color: #2f283e
	border: 1px solid #2f283e

.txt
	text-align: center
	width: 160%
	font-family: Roboto
	color: white
	


.photo
	height: 100px
	width: 200px
	color: #ffecd9
	border: 1px solid #2f283e
	border-radius: 10px
	background: repeating-linear-gradient(45deg, #2f283e, #2f283e 10px, #ffac85 10px, #ffac85 20px)




/*.wrapper 
/*  background-color: #1b1b1b
/* display: flex
/*  flex-direction: column
/*  height: 10%

/*.content 
/*	text-align: center
/*	color: #ffecd9
  /* flex: 1 0 auto

/*.footer 
  /*flex: 0 0 auto 

	





@import "media" // Always at the end
